@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #eeee;
}
.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    
}
.nav__logo {
   color: #032f76;
    font-size: 2.5rem;
     font-weight: bolder;
}
.nav__logo a{
   color: #032f76;
}

.nav_toggle, .nav__list a{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__list {
display: flex;
column-gap: 2rem;
}

.nav_link {
display: flex;
flex-direction: column;
align-items: center;
font-size: var(--small-font-size);
font-weight: var(--font-medium);
transition: 3s;
}
.nav__icon,
.nav__close,
.nav_toggle{
   display: none;
}

.active-link,
.nav_link:hover {
   color: rgb(24, 24, 115); 
}

@media screen and (max-width: 768px) {
  .header {
    
    top: 0;
    justify-content: space-between;
    bottom: 0;
    width: 34%;
    height: 9vh;
    align-items: center;
    display: flex;

  }

  .nav {
    height: var(--header-height);
    width: 100%;

  }
  .nav__menu{
   position: fixed;
   bottom: -100%;
   left: 0;
   width: 100%;
   background-image: url('/src/assets/whitesmoke.jpg');
   padding: 2rem 1.5rem 4rem;
   box-shadow: 0 -1px 4px rgba(0, 0, 0, 0);
   transition: 3s;
   border-radius: 1.5rem 1.5rem 0 0  ;
  }
  .show-menu{
    bottom: 0;
  }
  .nav__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .nav__icon{
    font-size: 1.2rem;
  }
  .nav__close{
    position: absolute;
    right: 3rem;
    bottom: 0;
    font-size: 2rem;
    cursor: pointer;
    color: var(--title-color);
  }
  .nav__close:hover{
    color: black;
  }
  .nav_toggle{
    font-size: 2rem;
    cursor: pointer;
  }
  .nav__icon,
  .nav__close,
  .nav_toggle{
    display: block;
  }


 
}
@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem .25rem 4rem ;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
    height: 8vh;
  }
}